<div class="skrol-wrapper" data-0="background-color:rgb(250, 114, 104);"
  data-700="background-color:rgb(145, 206, 206);">
  <div class="bridge"></div>
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <h1 class="se-large-strap has-text-white is-size-1-touch">Hello! I'm Sam Easton</h1>
        <p class="se-large-strap-con has-text-white is-size-3-touch">I'm an aspiring web and graphic designer from
          Newcastle Upon Tyne
        </p>
      </div>
    </div>
  </section>
  <section class="hero is-fullheight se-sage">
    <div class="hero-head">
      <div class="container">
        <div class="spacer"></div>
        <h1 class="se-large-strap has-text-white is-size-1-touch">Knowledge is power</h1>
        <p class="se-large-strap-con has-text-white is-size-3-touch">I know a mixture of front-end and backend languages
          and frameworks
        </p>
      </div>
      <div class="scrolling-text">
        <div class=" scroll-row">
          <h1 class="scroll-text-con">Javascript.</h1>
          <h1 class="scroll-text-con">CSS.</h1>
          <h1 class="scroll-text-con">Node.</h1>
          <h1 class="scroll-text-con">Discord.js.</h1>
          <h1 class="scroll-text-con">PHP.</h1>
          <h1 class="scroll-text-con">Wordpress.</h1>
          <h1 class="scroll-text-con">Bootstrap.</h1>
          <h1 class="scroll-text-con">Python.</h1>
          <h1 class="scroll-text-con">Travis.</h1>
          <h1 class="scroll-text-con">Moment.js.</h1>
          <h1 class="scroll-text-con">Slack.</h1>
        </div>
        <div class="scroll-row-rev">
          <h1 class="scroll-text-con">Typescript.</h1>
          <h1 class="scroll-text-con">Git.</h1>
          <h1 class="scroll-text-con">Trello.</h1>
          <h1 class="scroll-text-con">Firebase.</h1>
          <h1 class="scroll-text-con">Grav.</h1>
          <h1 class="scroll-text-con">React.</h1>
          <h1 class="scroll-text-con">Angular.</h1>
          <h1 class="scroll-text-con">Socket.io.</h1>
          <h1 class="scroll-text-con">Sendgrid.</h1>
          <h1 class="scroll-text-con">Bulma.</h1>
          <h1 class="scroll-text-con">Yarn.</h1>
        </div>
        <div class="scroll-row">
          <h1 class="scroll-text-con">Moment.js.</h1>
          <h1 class="scroll-text-con">Angular.</h1>
          <h1 class="scroll-text-con">Cloudflare.</h1>
          <h1 class="scroll-text-con">Animate.css.</h1>
          <h1 class="scroll-text-con">jQuery.</h1>
          <h1 class="scroll-text-con">Lua.</h1>
          <h1 class="scroll-text-con">webpack.</h1>
          <h1 class="scroll-text-con">Spotify.js.</h1>
          <h1 class="scroll-text-con">Lua.</h1>
          <h1 class="scroll-text-con">SharePoint.</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="se-large-strap has-text-light">My work</h1>
        <div class="columns">

          <div class="column">
            <div class="box"></div>
          </div>

          <div class="column">
            <div class="box"></div>
          </div>

          <div class="column">
            <div class="box"></div>
          </div>

          <div class="column">
            <div class="box"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
